{% load static %}
{% if user.is_authenticated and userrole == "soldier" %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
      <script>
       function validateForm() {
  var x = document.forms["myForm"]["first_name"].value;
  var y = document.forms["myForm"]["last_name"].value;
  var z = document.forms["myForm"]["communication"].value
  var w = document.forms["myForm"]["formFile"].value
  if (x == "" || x == null) {
    alert("Παρακαλώ πληκτρολογήστε το όνομα σας!");
    return false;
  } else if (y == "" || y == null) {
    alert("Παρακαλώ πληκτρολογήστε το επώνυμο σας!");
    return false;
  } else if (z == "" || z == null) {
    alert("Παρακαλώ πληκτρολογήστε το τηλ.επικοινωνίας σας!");
    return false;
  } else if (w == "" || w == null) {
    alert("Παρακαλώ επισυνάψτε το ηλεκτρονικό έγγραφο!");
    return false;
  }
}
        
        </script>



    	<!-- meta charec set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Page Title -->
        <title>Stratologia</title>		
		<!-- Meta Description -->
        <meta name="description" content="Blue One Page Creative HTML5 Template">
        <meta name="keywords" content="one page, single page, onepage, responsive, parallax, creative, business, html5, css3, css3 animation">
        <meta name="author" content="Muhammad Morshed">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="https://images.vexels.com/media/users/3/194978/isolated/lists/4e5f08e2a984b379c5d0d7ba1b77489a-general-major-military-rank-icon.png" type="image/x-icon">

		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href="{%static "brandi_custom_page/css/font-awesome.min.css" %}">
		<!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href="{%static "brandi_custom_page/css/bootstrap.min.css" %}">
		<!-- jquery.fancybox  -->
        <link rel="stylesheet" href="{%static "brandi_custom_page/css/jquery.fancybox.css" %}">
		<!-- animate -->
        <link rel="stylesheet" href="{%static "brandi_custom_page/css/animate.css" %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{%static "brandi_custom_page/css/main.css"  %}">
		<!-- media-queries -->
        <link rel="stylesheet" href="{%static "brandi_custom_page/css/media-queries.css" %}">
		<!-- Modernizer Script for old Browsers -->
        <script src="{%static "brandi_custom_page/js/modernizr-2.6.2.min.js"%}"></script>

    <!-- Custom styles for this template -->
  </head>
  <body >

      

    <div id="preloader">
			<img src="{% static "brandi_custom_page/img/preloader.gif" %}" alt="Preloader">
		</div>
		<!-- end preloader -->

        <!-- 
        Fixed Navigation
        ==================================== -->
        <header id="navigation" class="navbar-fixed-top navbar" style="background-color:rgb(20, 179, 152);">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="{% url 'soldier_home' %}">
						<h3 id="logo" style="color: rgb(247, 247, 247); line-height: 47px;">
							<img src="https://images.vexels.com/media/users/3/194978/isolated/lists/4e5f08e2a984b379c5d0d7ba1b77489a-general-major-military-rank-icon.png" style="height: 50px;" alt="Stratologia">Stratologia
						</h3>
					</a>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" >
                    <ul id="nav" class="nav navbar-nav">
						<li class="image"> <img src="{% static "brandi_custom_page/img/user.png" %}" width="30" height="30" class="img-circle elevation-6" style=margin-top:10px; alt="User Image"></li>
						<li class="info"><a class="d-block" style="color: rgb(255, 255, 255);">{{ user.email }}</a></li>
                         
                    </ul>
                    <div style="margin-left: 120px; margin-top: 17px;">
                      <a class="text-info" style="color: rgb(255, 255, 255);" href="http://127.0.0.1:8000/soldier_home">Home</a>
                      </div>
                    <div style="margin-left: 200px; margin-top: -21px;">
                      <a class="text-info" style="color: rgb(255, 255, 255);" href="http://127.0.0.1:8000/soldier_home#work">Υπηρεσίες</a>
                      </div>

					<div style="margin-left: 280px; margin-top: -21px;">
					<a class="text-info" style="color: rgb(255, 255, 255);" href="{% url 'keycloak_logout' %}">Logout</a>
				</div>



                </nav>
				<!-- /main nav -->
				
            </div>
        </header>




    <!-- Main content -->
    <section class="content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header" style="height: 50px">
                <h3 class="card-title" style="color: rgb(0, 0, 0);">Αίτηση Στράτευσης</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" name="myForm" action="/add_application_save" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                  {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label style="color: rgb(0, 0, 0);">Όνομα</label>
                    <input type="text" class="form-control" placeholder="Πληκτρολογήστε το όνομα σας" name="first_name">
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(0, 0, 0);">Επώνυμο</label>
                    <input type="text" class="form-control" placeholder="Πληκτρολογήστε το επώνυμο σας" name="last_name">
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(0, 0, 0);" >Email</label>
                    <input type="text" readonly="readonly" class="form-control"  value="{{user.email}}" name="email">
                  </div>
                  <div class="form-group">
                    <label style="color: rgb(0, 0, 0);">Ηλικία</label>
                    <input type="number" class="form-control" value="18" min="18" max="55" name="age">
                  </div>
                  <div class="mb-3">
                    <label for="formFile" class="form-label" style="color: rgb(0, 0, 0);">Επιλέξτε το ηλεκτρονικό έγγραφο στράτευσης σας</label>
                    <input class="form-control" type="file" name="formFile" style="height: 35px;">
                  </div>
                  <div class="form-group" style="margin-top: 14px;">
                    <label style="color: rgb(0, 0, 0);">Επιλογή κατάταξης</label>
                    <p><select class="form-control" name="katatajh" style="color: black;">
                      <option style="color: rgb(0, 0, 0);">Στρατός ξηράς</option>
                      <option style="color: rgb(0, 0, 0);">Πολεμική Αεροπορεία</option>
                      <option style="color: rgb(0, 0, 0);">Πολεμικό Ναυτικό</option>
                      <option style="color: rgb(0, 0, 0);">Ειδικές Δυνάμεις</option>
                    </select>
                  </p>
                  </div>
                   <div class="form-group" style="margin-top: 14px;">
                    <label style="color: rgb(0, 0, 0);">Μορφωτικό επίπεδο</label>
                    <p><select class="form-control" name="education_level" style="color: black;">
                      <option style="color: rgb(0, 0, 0);">Τελειόφοιτος Δημοτικού</option>
                      <option style="color: rgb(0, 0, 0);">Τελειόφοιτος Γυμνασίου</option>
                      <option style="color: rgb(0, 0, 0);">Τελειόφοιτος Λυκείου</option>
                      <option style="color: rgb(0, 0, 0);">Τελειόφοιτος Πανεπιστημίου</option>
                    </select>
                  </p>                
                  </div>
                   <div class="form-group">
                    <label style="color: rgb(0, 0, 0);">Τηλέφωνο επικοινωνίας</label>
                    <input type="text" class="form-control" placeholder="Πληκτρολογήστε το τηλέφωνο σας" name="communication">
                   </div>
                
                  
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Προσθήκη νέας αίτησης</button>
                </div>
              </form>
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <script src="{% static "brandi_custom_page/js/jquery-1.11.1.min.js" %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static "brandi_custom_page/js/jquery.singlePageNav.min.js" %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static "brandi_custom_page/js/bootstrap.min.js" %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static "brandi_custom_page/js/jquery.fancybox.pack.js" %}"></script>
		<!-- jquery.mixitup.min -->
        <script src="{% static "brandi_custom_page/js/jquery.mixitup.min.js" %}"></script>
		<!-- jquery.parallax -->
        <script src="{% static "brandi_custom_page/js/jquery.parallax-1.1.3.js" %}"></script>
		<!-- jquery.countTo -->
        <script src="{% static "brandi_custom_page/js/jquery-countTo.js" %}"></script>
		<!-- jquery.appear -->
        <script src="{% static "brandi_custom_page/js/jquery.appear.js" %}"></script>
		<!-- Contact form validation -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
		<!-- Google Map -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- jquery easing -->
        <script src="{% static "brandi_custom_page/js/jquery.easing.min.js" %}"></script>
		<!-- jquery easing -->
        <script src="{% static "brandi_custom_page/js/wow.min.js" %}"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
        <script src="{% static "brandi_custom_page/js/custom.js" %}"></script>
		
		<script type="text/javascript">
			$(function(){
				/* ========================================================================= */
				/*	Contact Form
				/* ========================================================================= */
				
				$('#contact-form').validate({
					rules: {
						name: {
							required: true,
							minlength: 2
						},
						email: {
							required: true,
							email: true
						},
						message: {
							required: true
						}
					},
					messages: {
						name: {
							required: "come on, you have a name don't you?",
							minlength: "your name must consist of at least 2 characters"
						},
						email: {
							required: "no email, no message"
						},
						message: {
							required: "um...yea, you have to write something to send this form.",
							minlength: "thats all? really?"
						}
					},
					submitHandler: function(form) {
						$(form).ajaxSubmit({
							type:"POST",
							data: $(form).serialize(),
							url:"process.php",
							success: function() {
								$('#contact-form :input').attr('disabled', 'disabled');
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$(this).find(':input').attr('disabled', 'disabled');
									$(this).find('label').css('cursor','default');
									$('#success').fadeIn();
								});
							},
							error: function() {
								$('#contact-form').fadeTo( "slow", 0.15, function() {
									$('#error').fadeIn();
								});
							}
						});
					}
				});
			});
		</script>
    <!-- /.content -->
{% endif %}
